.nav{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fe697c;
	padding: 20px 50px;
	box-sizing: border-box;
	border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.nav__list{
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.nav__link{
	position: relative;
	color: #2e363e;
}

.nav__notification{
	position: absolute;
	left: 15px;
	bottom: 15px;
}
.nav__dot{
	background-color: #e54350;
	width: 5px;
	height: 5px;
	border-radius: 2.5px;
	display: flex;
	position: absolute;
	left: 35px;
	bottom: 30px;
}