.screen-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--horizontal-space);
	margin-bottom: 15px;
}
.screen-header__title{
	font-size: 30px;
	font-weight: 630;
}
.screen-header__icons span{
	margin-left: 25px;
	position: relative;
	
}

@keyframes upAndDownIcons{
	0%{
		transform: none;
	}
	50%{
		transform: translatey(-10px) rotatey(10deg);
	}
	100%{
		transform: none;
	}
}
.screen-header__icons span:hover i{
	color: rgb(107, 109, 255);
	animation: upAndDownIcons 0.8s linear infinite;
}
